ebin/erl_crash.dump
*~
*#
*crash.dump
ebin/fprof.*
ebin/*.beam
ebin/*.boot
ebin/*.script
ebin/*.app
ebin/*.rel
error.log
Mnesia*
priv/*.so
priv/*.dll
deps/*/ebin/*.beam
deps/*/ebin/*.app
deps/*/priv/*.so
deps/*/priv/*.dll
