ebin/erl_crash.dump
*~
*#
*crush.dump
ebin/*.beam
ebin/*.boot
ebin/*.script
ebin/*.app
error.log
Mnesia*
priv/*.so
priv/*.dll
deps/*/ebin/*.beam
deps/*/ebin/*.app
deps/*/priv/*.so
deps/*/priv/*.dll
doc/*
