{lib_dirs, ["deps"]}.

{clean_files, ["*~", "./priv"]}.

{compile_pre_script, "git submodule | grep -qv ^\- || (git submodule init && git submodule update)"}. %% 'git submodule update --init' if tiger isn't installed

{compile_post_script, "mkdir -p ./priv/ && cp deps/tiger/priv/* ./priv/"}. %% store so/dll in eadc's private dir

{sub_dirs, ["rel", "deps/tiger"]}.
