{lib_dirs, ["deps"]}.

{clean_files, ["*~", "./priv"]}.

{compile_pre_script, "git submodule | grep -q '^\ ' || (git submodule init && git submodule update)"}. %% 'git submodule update --init' if tiger isn't installed

{compile_post_script, "bash -c 'mkdir -p priv && cp ./deps/tiger/priv/tiger_drv.* ./priv/'"}. %% store so/dll in eadc's private dir

{sub_dirs, ["rel", "deps/tiger"]}.
