{sys, [
       {lib_dirs, []},
       {rel, "eadc", "1",
        [
         kernel,
         stdlib,
         sasl
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "eadc"},
       {profile, embedded},
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {app, sasl, [{incl_cond, include}]}
      ]}.

{target_dir, "eadc"}.

{overlay, [
           {mkdir, "log/sasl"},
           {copy, "files/erl", "{{erts_vsn}}/bin/erl"},
           {copy, "files/nodetool", "{{erts_vsn}}/bin/nodetool"},
           {copy, "files/eadc", "bin/eadc"},
           {copy, "files/app.config", "etc/app.config"},
           {copy, "files/vm.args", "etc/vm.args"},
	   %% eadc
	   {mkdir, "lib/eadc-0.4"},
	   {copy, "../ebin", "lib/eadc-0.4"},
	   %% tiger
	   {mkdir, "lib/tiger-0.1"},
	   {copy, "../deps/tiger/ebin", "lib/tiger-0.1"},
	   {copy, "../deps/tiger/priv", "lib/tiger-0.1"}
           ]}.
